@{
    ViewData["Title"] = "Home Page";
}
<style>
    .img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 10px;
    }

    #selfImg {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        border-radius: 10px;
    }

    .desktop {
        width: 100%;
        height: 400px;
        background-image: url(/img/desktop4.png);
        background-size: 100% 100%;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .flex-top {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .desktop .riverpoker {
        width: 55px;
        height: 60px;
        margin: 10px;
    }


    .game {
        display: -webkit-flex; /* Safari */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        background-color: #202020;
    }

    .hearderRow1 {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        background-color: #202020;
        border: solid 0px white;
    }

    .hearderRow2 {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        background-color: #202020;
        border: solid 0px white;
    }

    .headercolumn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #202020;
        border: solid 0px white;
    }

    .gameheader {
        width: 60px;
        height: 60px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        background-color: #202020;
    }

    #selfPanel {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chip {
        width: 40px;
        height: 40px;
        margin: 3px;
        border-radius: 15px;
    }


    .chip-little {
        width: 20px;
        height: 20px;
        margin: 1px;
        border-radius: 5px;
    }

    .chips {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 150px;
        margin-right: 10px;
    }

        .chips div input[type='checkbox'] {
            opacity: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            right: 0;
            height: 10px;
            width: 10px;
        }

        .chips div label:hover img {
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
            border: 4px solid #1E9FFF;
        }

        .chips div input[type='checkbox']:checked ~ label img {
            border: 4px solid #1E9FFF;
        }

    .allchips {
        width: 100%;
    }

    .riches {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }

    .gamer {
        width: 120px;
        margin: 5px;
    }

        .gamer .header {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            width: 100%;
            border: solid 0px white;
        }

    .selfpoker {
        width: 75px;
        height: 80px;
        margin: 2px;
        display: inline-block;
    }


    .gamerpoker {
        width: 25px;
        height: 30px;
        margin: 2px;
    }

    .active {
        border: solid 2px yellow;
    }

    .playerbet {
        border: solid 2px white;
        opacity: 0.7;
        margin: 2px;
        color: white;
    }

    .chipBtn {
        border-radius: 10px;
    }
</style>

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@

    <div id="app" class="container">

        <div>
            <div class="hearderRow1">
                <gamer :seat="playerSeats[0]" :game="game" :self="self" :index="0"></gamer>
                <gamer :seat="playerSeats[8]" :game="game" :self="self" :index="8"></gamer>
            </div>
            <div class="game">
                <div class="headercolumn">
                    <gamer :seat="playerSeats[1]" :game="game" :self="self" :index="1"></gamer>
                    <gamer :seat="playerSeats[2]" :game="game" :self="self" :index="2"></gamer>
                </div>
                @*<img id="desktop" class="desktop" src="~/img/desktop2.png" />*@
                <div id="desktop" class="desktop">
                    <div class="flex-top">
                        <div v-for="player in playerSeats">
                            <div v-if="player && player.betMoney>0" class="playerbet flex-top">
                                <div>
                                    <span>{{player.name}}</span><br />
                                    <span>{{player.betMoney}}</span><br />
                                </div>
                                <div>
                                    <div v-for="betChip in player.betChips">
                                        <div v-if="betChip.num>0">
                                            <img class="chip-little" :src="'/img/chip'+betChip.money+'.png'" />x{{betChip.num}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-center">
                        <div v-for="poker in riverpokers">
                            <img v-if="poker" class="riverpoker" :src="poker.img" />
                        </div>
                    </div>
                    <div>
                        <game-pool v-if="game" :game="game"></game-pool>
                    </div>
                </div>
                <div class="headercolumn">
                    <gamer :seat="playerSeats[6]" :game="game" :self="self" :index="6"></gamer>
                    <gamer :seat="playerSeats[7]" :game="game" :self="self" :index="7"></gamer>
                </div>
            </div>
            <div class="hearderRow2">
                <gamer :seat="playerSeats[3]" :game="game" :self="self" :index="3"></gamer>
                <gamer :seat="playerSeats[4]" :game="game" :self="self" :index="4"></gamer>
                <gamer :seat="playerSeats[5]" :game="game" :self="self" :index="5"></gamer>
            </div>
        </div>
        <h2 ref="selfName" hidden>@ViewBag.Player.Name</h2>
        <h2 ref="selfName" hidden>@ViewBag.Player.Name</h2>
        <div>
            <marquee><h2 style="color:red">{{notification}}</h2></marquee>
        </div>

        <div>
            <div class="m-auto">
                <div id="selfPanel">

                    <img id="selfImg" :src="self.avatar" />
                    <div>
                        <label><b>{{self.name}}</b></label> <br />
                        <label>{{self.money}}</label><br />
                        <label>{{roles[self.role]}}</label>
                    </div>
                    <div>
                        <div style="margin:2px; display:flex" v-if="self.poker1">
                            <img class="selfpoker" :src="self.poker1.img" />
                            <img class="selfpoker" :src="self.poker2.img" />
                        </div>
                    </div>
                    <div class="allchips">
                        <div class="riches" v-if="self.isActive">
                            <b>押注 </b><b> {{betmoney}}:</b>
                            <div v-for="(chip, index) in self.betChips" style="margin-right:10px">
                                <img class="chip" :src="'/img/chip'+chip.money+'.png'" />x{{chip.num}}
                                <input class="btn btn-success chipBtn" type="button" v-on:click="removeBet(chip)" value="-" />
                            </div>
                        </div>
                        <div class="riches">
                            <b>资产 </b><b> {{money}}:</b>
                            <div v-for="(chip, index) in self.chips" style="margin-right:10px;">
                                <img class="chip" :src="'/img/chip'+chip.money+'.png'" />x{{chip.num}}
                                <input type="button" class="btn btn-success chipBtn" v-on:click="addBet(chip)" value="+" v-if="self.isActive" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="button" id="btnBet" v-if="self.isActive" v-on:click="bet" value="下注" class="btn btn-success btn-block" />
                        <input type="button" id="btnBet" v-if="self.isActive" v-on:click="check" value="Check" class="btn btn-success btn-block" />
                        <input type="button" id="btnCall" v-if="self.isActive" v-on:click="fold" value="弃牌" class="btn btn-success btn-block" />

                    </div>
                </div>
            </div>
            <div>
                <input type="button" id="btnStart" v-if="self.name=='Tony'" v-on:click="startGame" value="Start" class="btn btn-success btn-block" />
            </div>

        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" ref="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                    </div>
                    <div class="modal-body">按下 ESC 按钮退出。</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">提交更改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div>
            <label>玩家列表</label>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>玩家</th>
                        <th>资产</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>

                    <tr v-for="(player, index) in players">
                        <td>{{index + 1}}</td>
                        <td style="text-align:left"><img class="img" v-bind:src="player.avatar" /><span>{{player.name}}</span></td>
                        <td style="text-align:center">
                            <riches :player="player"></riches>
                        </td>
                        <td>{{playerstatus[player.playerStatus]}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<template id="riches">
    <div class="riches">
        <label>{{player.money}}:</label>
        <div v-for="(chip, index) in player.chips">
            <img class="chip" :src="'/img/chip'+chip.money+'.png'" />x{{chip.num}}
        </div>
    </div>
</template>
<template id="gamePool">
    <div class="riches" style="color:white" v-if="game.poolChips">
        <b>底池 {{game.poolMoney}} : </b>
        <div v-for="(chip, index) in game.poolChips">
            <img class="chip" :src="'/img/chip'+chip.money+'.png'" />x{{chip.num}}
        </div>
    </div>
</template>

<template id="chips">
    <div class="riches">
        <div v-for="(chip, index) in player.chips">
            <img class="chip" :src="'/img/chip'+chip.money+'.png'" />x{{chip.num}}
            <input type="button" v-on:click="" value="加" />
        </div>
    </div>
</template>

@*<template id="chips">
        <div class="chips">
            <div v-for='(item,index) in chip.num'>
                <input :id="chip.money + index" type="checkbox" v-on:click="chipToggle" :value="chip" />
                <label :for="chip.money + index">
                    <img class="chip" :src="'/img/chip'+chip.money+'.png'" />
                </label>
            </div>
        </div>
    </template>*@

<template id="gamer">
    <div class="gamer">
        <div v-if="seat" :class="{ active: seat.isActive }">
            <div class="header">
                <img class="gameheader" :src="seat.avatar" />
                <div style="margin:5px; float:left">
                    <span><b>{{seat.name}}</b></span> <br />
                    <span>{{seat.money}}</span><br />
                    <span>{{roles[seat.role]}}</span>
                </div>
            </div>
            <div class="header">
                <div style="margin:2px; display:flex" v-if="seat.poker1">
                    <img class="gamerpoker" :src="getFirstImg()" />
                    <img class="gamerpoker" :src="getSecondImg()" />
                </div>
                <div>
                    <label v-if="seat.isCheck" style="color:red">Check</label>
                    <label v-if="seat.status==1" style="color:red">弃牌</label>
                    <label v-if="seat.isWinner" style="color:red">Win!</label>
                </div>
            </div>
        </div>
        <div v-else class="header">
            <img class="gameheader" :src="addplayersrc" v-on:click="selectSeat(index)" />
        </div>
    </div>
</template>


<script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


